.nk-sidebar{
    width: 265px;
}
.nk-menu-link{
    letter-spacing: normal;
    font-weight: 500;
}

.nk-menu-main > li > .nk-menu-link{
    letter-spacing: normal;
}

.page-link:not([href]):not(.pagination .page-link) {
    background-color: transparent;
    color: inherit;
}

.sort-link{
    color: #8094ae;
}

.nk-tb-no-data .nk-tb-col {
    grid-column: 1 / -1;
    justify-content: center;
    text-align: center;
}

.badge .icon{
    font-size: 0.675rem;
}

.nk-tb-item.selected:not(.nk-tb-head) {
    background: #f8f9fc !important;
    box-shadow: 0 0 10px -4px rgba(54, 74, 99, 0.2) !important;
}
